:root {
    /*color*/
    --body-color: #FFFFFF;
    --headerDiv-color: #F9CDAD;
    --button-color: #EA5F40;
    --text-color: #000000;
    --mainText-color: #000000;
    --icon-color: #DFA40C;
    --inner-color: #D9D9D9;
    /*font*/
    --title-font-family: 'Poppins';
    --body-font-family: 'Nunito';
    /*font size*/
    --title-text: 3rem;
    --body-text: 1.7rem;
    --secondary-title-text: 2rem;
    --third-title-text: 2.3rem;
    --line-height: 2.6rem;
}